* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  height: 100vh;
  width: 100vw;
  background: #6E00FF;
}

img {
  max-width: 100%;
  display: block;
}

.qrcode__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  margin-bottom: 1em;
  color: white;
}

.input__group {
  display: flex;
  margin-top: 2em;
  padding: 0 2.2em;
}

label {
  color: white;
  font-weight: 500;
}

input {
  width: 100%;
  padding: 1em 0.75em;
  border: 1px solid #1B1E23;
  border-radius: 3px;
  margin-bottom: 2em;
  margin-top: 0.75em;
}
button {
  border: unset;
  color: #FFF;
  background: #2287FA;
  padding: 1em 2em;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .qrcode__container {
    flex-direction: row;
  }
}
